# modified 2012-04-05 by J. Fox
# modified 28 July 2011 by S. Weisberg

import(grid, lattice)
export(effect, allEffects, all.effects)
S3method(effect, lm)
S3method(effect, gls)
S3method(effect, multinom)
S3method(effect, mer)
S3method(effect, lme)
S3method(effect, polr)
S3method(print, eff)
S3method(print, efflist)
S3method(print, summary.eff)
S3method(summary, eff)
S3method(summary, efflist)
S3method(as.data.frame, eff)
S3method(as.data.frame, effpoly)
S3method(as.data.frame, efflatent)
S3method(plot, eff)
S3method(print, plot.eff)
S3method(plot, efflist)
S3method(print, effpoly)
S3method(summary, effpoly)
S3method(plot, effpoly)
S3method(print, efflatent)
S3method(summary, efflatent)
S3method(allEffects, default)
S3method(allEffects, gls)
S3method(allEffects, mer)
S3method(allEffects, lme)
S3method(vcov, eff)
S3method(`[`, efflist)
