import(grid, lattice)
export(effect, all.effects)
S3method(effect, lm)
S3method(print, eff)
S3method(print, eff.list)
S3method(summary, eff)
S3method(summary, eff.list)
S3method(as.data.frame, eff)
S3method(plot, eff)
S3method(plot, eff.list)
